.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: -10px;
  transition: all 0.2s;

  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  img {
    height: 50px;
    margin-right: 10px;
  }

  span {
    font-size: 28px;
    font-family: Ubuntu;
  }
}
