@import "@shared/constants/variables";

.post {
  display: flex;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.content {
  width: 70%;
  min-width: 0;
  margin-left: 10px;
  overflow-wrap: break-word;

  @media (min-width: $breakpoint-md) {
    margin-right: 20px;
    margin-left: 0;
  }
}

.description {
  margin-bottom: 1rem;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.title,
.description {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (min-width: $breakpoint-md) {
    overflow-x: visible;
    text-overflow: clip;
    white-space: normal;
  }
}

.meta {
  font-size: 0.8rem;

  .info {
    margin-bottom: 0;
  }

  .date {
    margin-bottom: 0;
    color: #b4b4b4;
  }
}

.photo {
  height: 140px;
  flex: 0 0 150px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $breakpoint-md) {
    flex: 0 0 200px;
    order: 2;
  }
}
