@import "@ui/variables";

.menu {
  @media (max-width: $breakpoint-md) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-size: 0 !important;

    :global {
      .anticon {
        margin-right: 0 !important;
      }
    }
  }
}
