.comment {
  display: flex;
  max-width: 255px;
  margin-bottom: 30px;
}

.number {
  margin-right: 30px;
  color: #ccc;
  font-size: 1.875rem;
  line-height: 1;
}

.body {
  flex-grow: 1;
  overflow-x: hidden;
  white-space: nowrap;
}

.text {
  margin-bottom: 8px;
  font-size: 0.875rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.meta {
  font-size: 0.8125rem;

  p {
    margin-bottom: 0;
  }
}

.author {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.date {
  color: #b4b4b4;
}
