@import "@ui/variables";

.button {
  border: 1px solid transparent;
  border-radius: 28px;
  cursor: pointer;
  background-color: #000;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:active {
    background-color: #71a436;
    border-color: #6a9a33;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.5);
    outline: 0;
  }

  &:hover {
    background-color: #78ad39;
    border-color: #71a436;
  }

  img {
    width: 1.4rem;
    height: auto;
  }
}

.textButton {
  @extend .button;

  position: relative;
  padding: 10px 6rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    width: auto;
  }

  img {
    position: absolute;
    margin-left: -40px;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.iconButton {
  @extend .button;

  padding: 10px 1.2rem;
}
