:global {
  .site-layout .site-layout-background {
    background: #fff;
  }
}

.layout {
  min-height: 100vh !important;

  .content {
    margin: 16px 16px 0;
    min-height: auto;
  }

  .children {
    min-height: 360px;
    padding: 20px;
  }
}

.main {
  z-index: 1000;
}
