.actions {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 10px;

  .buttons {
    display: flex;

    .create {
      margin-left: auto;
    }
  }

  .counter {
    position: absolute;
    margin-top: 2px;
  }
}
