$link-color: rgba(255, 255, 255, 0.7);

.logo {
  position: relative;
  height: 32px;
  margin: 14px 14px 14px 24px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }

  a {
    display: flex;
    align-items: center;
    color: $link-color;

    &:hover {
      color: $link-color;
    }
  }

  img {
    height: 32px;
    margin-right: 10px;
  }

  span {
    white-space: nowrap;
  }
}
