@import "@shared/styles/variables";

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
}

.button {
  padding: 5px;
  border: 0;
  margin-right: -5px;
  background: transparent;
  outline: none;

  svg {
    width: 28px;
    height: 28px;
    fill: #333 !important;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.collapse {
  display: none;

  @media (min-width: $breakpoint-lg) {
    display: flex;
  }
}

.drawer {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.drawerBody {
  min-width: 200px;
}
