@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/assets.css";
@import "~sanitize.css/typography.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 16px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
  -ms-overflow-style: scrollbar;
}

html {
  overflow-x: hidden;
}

body {
  color: #808080;
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
}

a {
  color: #262626;
  text-decoration: none;

  &:hover {
    color: #649130 !important;
    transition: 0.3s all ease;
  }
}

[aria-current="page"] {
  cursor: default;
  pointer-events: none;
}
