.box {
  margin-top: 3rem;
}

.comment {
  display: flex;
}

.commentList {
  padding: 0;
  margin-bottom: 2.5rem;
  list-style: none;

  li {
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.meta {
  margin-bottom: 0.5rem;

  .author {
    margin-bottom: 0;
    color: #000;
    font-size: 18px;
  }

  .date {
    color: #ccc;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.content {
  min-width: 0;
  overflow-wrap: break-word;
}
