@import "@ui/variables";

.error {
  position: absolute;
  top: 10px;
  color: red;
  font-size: 14px;

  @media (min-width: $breakpoint-md) {
    top: 20px;
  }
}

.formBox {
  position: relative;
  padding: 1.8rem 1.5rem 1rem;
  background-color: #f8f9fa;

  @media (min-width: $breakpoint-md) {
    padding: 3rem;
  }
}

.formGroup {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 10px;

  background: #fff;
  outline: none;
  resize: none;
}
