@import "@shared/constants/variables";

.list {
  @media (min-width: $breakpoint-lg) {
    display: flex;
  }
}

.item {
  padding: 0 !important;
  white-space: nowrap;
}

.item a {
  width: 100%;
  padding: 16px;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-lg) {
    padding: 8px 16px;
  }
}
