@import "@ui/variables";

.error {
  position: absolute;
  margin-left: 20px;
  color: red;
}

.formField {
  display: block;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 10px;

  color: #495057;
  font-size: 1rem;
  outline: none;
}

.formGroup {
  display: flex;
}

.text {
  margin-bottom: 1rem;
  font-size: 0.9rem;

  @media (min-width: $breakpoint-md) {
    margin-bottom: 0;
  }
}

.title {
  color: rgb(60, 60, 60);
  font-size: 1.2rem;
}

.wrapper {
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}
