@import "@shared/constants/variables";

:global {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-slide > div {
    height: 100%;
  }
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;

  @media (min-width: $breakpoint-md) {
    display: flex;
  }
}

.photo {
  width: 100%;
  height: 300px;

  .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $breakpoint-md) {
    width: 50%;
    height: auto;
  }
}

.content {
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 0.9rem;
  overflow-wrap: break-word;

  @media (min-width: $breakpoint-md) {
    width: 50%;
    padding: 45px;
  }
}

.caption {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.title {
  overflow: hidden;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin-bottom: 1rem;
}

.meta {
  font-size: 0.8rem;

  .info {
    margin-bottom: 0;
  }

  .date {
    color: #b4b4b4;
  }
}
